@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: phonk;
    src: url(../Phonk/Phonk\ Regular\ DEMO.otf);
}

.first-bg {
    background-image: url('../images/first-bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.second-bg {
    background-image: url('../images/second-bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar.navbar-expand-lg{
    padding-top: 26px;
}

.header-section{
    justify-content: center;
    display: flex;
    align-items: center;
}


.navbar-light .navbar-nav .nav-link{
    color: #000;
    font-family: 'Hanuman', serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}


.navbar-nav{
    margin-left: auto;
    gap: 41px;
    align-items: center;
}


.navbar-light .navbar-toggler-icon{
    background-image: url(../icon/toggle-bar.svg) !important;
}

.navbar-light .navbar-toggler{
    border-color: #fff;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.nav-link.shopping_cart{
    background: #161616;
    width: 32px;
}

.first-bg .text1{
    transform: rotate(-90deg);
    color: #000;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 95px;
    left: -60px;
}

.header-section .container-fluid{
    margin: auto;
    max-width: 1280px;
}

.car-img{
    padding-top: 30px;
}

.herosection-text1{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: phonk;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    max-width: 518px
}

.herosection-text2{
    color: #000;
    font-family: Calibri;
    font-size: 44px;
    font-weight: 400;
    line-height: normal;
}

.herosection-text3{
    color: #000;
    font-family: Calibri;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.herosection-text4{
    color: #000;
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-section-div{
    padding-top: 100px;
}

.hero-section .container{
    position: relative;
}

.line-border{
    padding-top: 30px;
}

.whatsapp{
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    text-align: center;
}
.whatsapp-text{
    color: #7A7A7A;
    font-family: Calibri;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.section2-text3 p {
    margin-bottom: 5px;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 13px;
    background: #FFF;
    box-shadow: -9px 14px 31px 0px rgba(0, 0, 0, 0.25);
    width: 604px;
    height: 80px;
    position: absolute;
    top: 496px;
    left: 200px;
}

.catalogo-button{
    border-radius: 13px;
    background: linear-gradient(90deg, #01FEE0 3.42%, #00CDE8 97.91%);
    box-shadow: -3px 4px 11px 0px rgba(0, 0, 0, 0.25);
    width: 170px;
    height: 65px;
    color: #FFF;
    font-family: Calibri;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalogo-button-div a:after {
    content: '→';
    position: absolute;
    opacity: 0;  
    top: 22px;
    right: -20px;
    transition: 0.5s;
}

.catalogo-button-div a:hover{
    padding-right: 24px;
    padding-left:8px;
    opacity: 0.6;
    color: #fff;
}

.catalogo-button-div a:hover:after {
    opacity: 1;
    right: 10px;
}

.section1-text{
    color: #000;
    text-align: center;
    font-family: phonk;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 40px;
    margin: auto;
    max-width: 480px;
}

.small-car{
    text-align: center;
    padding-top: 25px;
}

.small-car-text{
    color: rgba(0, 0, 0, 0.49);
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    padding-top: 25px;
}

.whatsapp .ancher{
    text-decoration: none;
}

.vector-line{
    padding-top: 65px;
    position: relative;
}

.vector-line1{
    position: absolute;
    left: 22%;
}

.vector-line1 img,
.vector-line2 img{
    width: 265px;
}

.vector-line2{
    position: absolute;
    right: 22%;
    top: 68px;
}

.price-svg{
    border-radius: 23px;
    background: #EFEFEF;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.20);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location-svg{
    border-radius: 23px;
    background: linear-gradient(180deg, rgba(255, 78, 1, 0.70) 0%, rgba(255, 144, 24, 0.79) 100%);
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.20);
}

.price-text1{
    color: #000;
    font-family: Calibri;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    max-width: 170px;
    padding-top: 12px;
}

.price-text2{
    color: rgba(0, 0, 0, 0.65);
    font-family: Calibri;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    max-width: 260px;
    padding-top: 12px;
}

.price-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1-text2{
    color: #000;
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 50px;
    text-align: center;
}

.section1-text3{
    padding-top: 0px;
    color: #000;
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.section2 .text1{
    color: rgba(0, 0, 0, 0.49);
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
}

.small-line{
    margin: auto;
    max-width: 0px;
    padding-left: 300px;
    padding-bottom: 70px;
}

.section2 .text2{
    color: #000;
    font-family: phonk;
    font-size: 56px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 50px;
}

.section2-text3{
    color: #000;
    font-family: Calibri;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.section2-text4{
    color: #000;
    font-family: Calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.whatsapp-button a{
    color: #000;
    font-family: 'Hanuman', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.whatsapp-button{
    border-radius: 7px;
    border: 1px solid #000;
    background: #FCFCFC;
    width: 223px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.box-img1{
    border-radius: 18px;
    border: 1px solid #ADADAD;
    background: #EDEDED;
    width: 190px;
    height: 116px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-img1 img{
    width: 70%;
}

.section3-box{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.single-vector{
    text-align: end;
    margin-top: 115px;
}

.single-vector img{
    width: 70px;
}

.half-car .text1{
    color: rgba(0, 0, 0, 0.49);
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 50px;
}

.half-car img{
    width: 370px;
}

.half-car .text2{
    color: #000;
    font-family: phonk;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.whatsapp-button.second{
    margin-top: 20px;
}

.section4-line2{
    padding-top: 40px;
}

.section4-text3{
    color: #000;
    font-family: Calibri;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.section4-text4{
    color: #000;
    font-family: Calibri;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.line-img3 img{
    width: 100%;
}

.section4-line3{
    display: flex;
    gap: 100px;
    padding-top: 50px;
}

.footer{
    background-image: url(../images/footer.png);
    margin-top: 200px;
}

.footer-logo{
    padding: 10px;
}

.whatsapp-button:hover{
    background: #EDEDED;    
    cursor: pointer;
}
@media screen and  (max-width:767px) {

.navbar-brand img{
    width: 110px;
}
  
.navbar-nav{
    gap: 0px;
    align-items: start;
    position: absolute;
    background: #fff;
    width: calc(100% + 24px);
    z-index: 100;
    left: -12px;
    padding: 0px 0px 10px 12px;
}

.first-bg{
    background-image: url('../images/mob-first-bg.png');
    background-size: 100% 100%;
    min-height: 500px;
}

.mb-fd-cr{
    flex-direction: column-reverse;
}

.herosection-text1{
    font-size: 22px;
    text-align: center;
}

.herosection-text2{
    font-size: 32px;
}

.herosection-text4,
.herosection-text3{
    font-size: 13px;
    margin-top: -6px;
    line-height: 1.5;
}

.hero-section-div {
    padding-top: 26px;
}

.line-border {
    padding-top: 6px;
}

.line-border img{
    width: 35px;
}

.whatsapp-text{
    font-size: 10px;
}

.ancher img{
    width: 14px;
}

.catalogo-button{
    font-size: 15px;
    width: 114px;
    height: 47px;
}

.mob-social-icon{
    border-radius: 13px;
    background: #FFF;
    box-shadow: -9px 14px 31px 0px rgba(0, 0, 0, 0.25);
    width: 134px;
    height: 140.37px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.section2 .text2 {
    font-size: 24px;
}

.small-line{
    padding-left: 0px;
}

.section1-text{
    font-size: 24px;
}

.small-car-text{
    font-size: 15px;
}

.vector-line1 img, 
.vector-line2 img {
    width: 96px;
    height: 222px;
}

.vector-line1 {
    left: 7%;
    top: 108px;
}

.price-svg img{
    width: 42px;

}

.price-svg{
    width: 75px;
    height: 76px;
}

.price-text1{
    max-width: 124px;
    font-size: 18px;
}

.price-text2{
    font-size: 15px;
    max-width: 198px;
    padding-bottom: 40px;
}

.order-svg img{
    width: 36px;
}

.location-svg img{
    width: 58px;
}

.vector-line2 {
    right: 8%;
    top: 330px;
}

.section1-text2{
    font-size: 16px;
    max-width: 316px;
    text-align: left;
    padding-top: 0px;
}

.second-bg-text{
    display: flex;
}

.section2 .text1{
    font-size: 15px;
    padding-left: 10px;
}

.section2 .text2 {
    font-size: 47px;
    text-align: center;
}

.section2-text3{
    font-size: 16px;
    max-width: 321px;
    text-align: center;
    margin: auto;
}

.whatsapp-button a{
    font-size: 14px;
}

.whatsapp-button{
    width: 205px;
    height: 46px;
    margin-bottom: 30px;
}

.box-img1{
    width: 74px;
    height: 45px;
}

.section3-box{
    gap: 12px;
}

.second-bg {
    background-image: url('../images/mob-secondbg.png');
    background-size: 100% 100%;
    background-position: 0px 62px;
    background-repeat: no-repeat;
}

.half-car{
    padding-top: 40px;
    text-align: center;
}

.half-car img {
    width: 60%;
    text-align: left;
    align-items: left;
    display: flex;
}

.half-car .text2{
    font-size: 24px;
    max-width: 275px;
    margin: auto;
}

.section4-line2{
    padding-top: 0px;
    margin: auto;
    max-width: 305px;
}

.half-car .text1{
    padding-bottom: 10px;
}

.mob-whatsapp-btn{
    text-align: center;
    display: flex;
    justify-content: center;
}


.section4-text3{
    font-size: 16px;
    font-size: 16px;
    margin: auto;
    max-width: 305px;
    text-align: justify;
    padding-bottom: 600px;
}

.footer{
    background-size: 100%;
}

.footer-logo img{
    width: 110px;
}

.catalogo-button-div a:after{
    right: 0px;
}
}
  
